<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <!-- Now We are the Family and  now we are the family and do with and do with the full -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="fonts/icomoon/style.css" />

    <link rel="stylesheet" href="./css/owl.carousel.min.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/main.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Dashboard</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard">
                Live Lectures
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"> Jobs </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/ad"> Advertisement </a>
            </li>
          </ul>
          <form class="d-flex ms-auto" style="margin-left: auto">
            <button class="btn me-auto btn-outline-success" type="submit">
              Logout
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="container">
        <div class="text-center mt-5">
          <h1>Create Job</h1>
        </div>

        <div class="row">
          <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
              <div class="card-body bg-light">
                <div class="container">
                  <form
                    id="contact-form"
                    role="form"
                    method="POST"
                    action="/job"
                  >
                    <div class="controls">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_name">Title*</label>
                            <input
                              id="form_name"
                              type="text"
                              name="title"
                              class="form-control"
                              required="required"
                              data-error="Firstname is required."
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_lastname">
                              Education discipline
                            </label>
                            <input
                              id="form_lastname"
                              type="text"
                              name="eduction"
                              class="form-control"
                              required="required"
                              data-error="insinuate is required."
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_email">Experience - </label>
                            <input
                              id="form_email"
                              type="text"
                              name="experience"
                              class="form-control"
                              required="required"
                              data-error="Valid email is required."
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_need"> Job Type </label>
                            <select
                              id="form_need"
                              name="job"
                              class="form-control"
                              required="required"
                              data-error="Please specify your need."
                            >
                              <option value="" selected disabled>
                                --Select Your Issue--
                              </option>
                              <option value="Job">Job</option>
                              <option value="Internship">Internship</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_need"> Payment </label>
                            <select
                              id="form_need"
                              name="payment"
                              class="form-control"
                              required="required"
                              data-error="Please specify your need."
                            >
                              <option value="" selected disabled>
                                --Select Your Issue--
                              </option>
                              <option value="Salary">Salary</option>
                              <option value="Stipend">Stipend</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_email">dead line to apply </label>
                            <input
                              id="form_email"
                              type="text"
                              name="apply"
                              class="form-control"
                              required="required"
                              data-error="Valid email is required."
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_email">Location </label>
                            <input
                              id="form_email"
                              type="text"
                              name="location"
                              class="form-control"
                              required="required"
                              data-error="Valid email is required."
                            />
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label for="form_email">Vacancies - </label>
                            <input
                              id="form_email"
                              type="number"
                              name="vacancies"
                              class="form-control"
                              required="required"
                              data-error="Valid email is required."
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="form_need"> Job Type </label>
                            <select
                              id="form_need"
                              name="jobType"
                              class="form-control"
                              required="required"
                              data-error="Please specify your need."
                            >
                              <option value="" selected disabled>
                                --Select Your Issue--
                              </option>
                              <option value="full">full</option>
                              <option value="part">part</option>
                              <option value="home">work from home</option>
                              <option value="remote">remote</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="form_email">LinkedIn URL </label>
                            <input
                              id="form_email"
                              type="text"
                              name="linkedIn"
                              class="form-control"
                              required="required"
                              data-error="Valid email is required."
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="form_email">FB URL </label>
                            <input
                              id="form_email"
                              type="text"
                              name="fb"
                              class="form-control"
                              required="required"
                              data-error="Valid email is required."
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="form_email">Instagram URL </label>
                            <input
                              id="form_email"
                              type="text"
                              name="instagram"
                              class="form-control"
                              required="required"
                              data-error="Valid email is required."
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="form_email">Twitter URL </label>
                            <input
                              id="form_email"
                              type="text"
                              name="twitter"
                              class="form-control"
                              required="required"
                              data-error="Valid email is required."
                            />
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="form_message">Description</label>
                            <textarea
                              id="form_message"
                              name="description"
                              class="form-control"
                              placeholder="Write your description here."
                              rows="4"
                              required="required"
                              data-error="Please, leave us a message."
                            ></textarea>
                          </div>
                        </div>

                        <div class="col-md-12">
                          <input
                            type="submit"
                            class="btn btn-success btn-send pt-2 btn-block"
                            value="Create Job"
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /.8 -->
          </div>
          <!-- /.row-->
        </div>
      </div>
    </div>
  </body>
</html>
